<h3>Manage Category</h3>
<div class="container d-flex flex-column">
    <div #form class="form">
        <h4 class="mb-4">Add Category</h4>
        <div class="add-category">
            <div class="d-flex">
                <div class="m-2 flex-fill">
                    <label for="name">Name</label>
                    <input [(ngModel)]="categoryObj.name" type="text" id="name" class="form-control " required>
                </div>
                <div class="m-2">
                    <label for="category">Parent Category</label>
                    <select [(ngModel)]="categoryObj.parentId" class="form-select" id="category" required>
                        <option [ngValue]="null">No Parent</option>
                        <option *ngFor="let cate of categoryList" [ngValue]="cate.id">{{cate.name}}</option>
                    </select>
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <button class="btn btn-danger cancelbtn" #cancelbtn (click)="onCancel()">Cancel</button>
                <button #addCategoryButton type="button" class="btn btn-success" (click)="onSave()">Save</button>
            </div>
            
      
            
        </div>
    </div>

    <div class="d-flex title-container">
        <h4 class="mb-4 mt-4">All Categories</h4>
        <div class="d-flex">
            
            <input class="form-control search-imp"  #searchImp type="search" (input)="onSearch(searchImp.value)" placeholder="Search" aria-label="Search">
            <button class="btn btn-success addbtn" #addbtn (click)="onAddCategory()">ADD</button>
        </div>
    </div>
    
    <div class="category d-flex" *ngFor="let category of allCategoryList">
        <div class="text">
            <h6 *ngIf="category.parentId!=null">{{category.parentName}} > {{category.name}}</h6>
            <h6 *ngIf="category.parentId==null">{{category.name}}</h6>
        </div>
        <div class="icon">
            <i #editIcon (click)="onEditIcon(category)" class="fa-solid fa-pencil"></i>
            <i (click)="onDelete(category.id)" class="fa-solid fa-trash-can"></i>
        </div>


    </div>
    <div class="flex-fill"></div>
    <div class="pagination-container">
        <div class="d-flex mb-4">
            <select class="form-select" (change)="onPageSizeChange($event)">
                <option selected value="10">10</option>
                <option value="20">25</option>
                <option value="30">50</option>
                <option value="40">100</option>
              </select>
        </div>
        <app-pagination [currentPage]="pageDetails.currentPage" 
      [totalPages]="pageDetails.totalPages" 
      (pageChanged)="onPageChange($event)"></app-pagination>
    </div>
    <div #formEdit class="form-edit">
        <h4 class="mb-4">Edit Category</h4>
        <div class="edit-category">
            <div class="d-flex">
                <div class="m-2 flex-fill">
                    <label for="name">Name</label>
                    <input [(ngModel)]="editCategoryObj.name" type="text" id="name" class="form-control " required>
                </div>
                <div class="m-2">
                    <label for="category">Parent Category</label>
                    <select #editParentSelect [(ngModel)]="editCategoryObj.parentId" class="form-select" id="category" required>
                        <option [ngValue]="null">No Parent</option>
                        <option #parentOption *ngFor="let cate of categoryList" [id]="cate.id" [ngValue]="cate.id">{{cate.name}}</option>
                    </select>
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <button class="btn btn-danger cancelbtn" #cancelbtn2 (click)="onCancel()">Cancel</button>
                <button #addEditButton type="button" class="btn btn-success"  (click)="onEdit()">Edit</button>
            </div>
            
      
            
        </div>
    </div>
      
</div>