
<div class="cart-page">
    <div class="cart-body row">
        <div class="cart-container d-flex flex-column col-8">
            <div class="cart-head block-style d-flex justify-content-between">
                <div class="d-flex">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                          Select All
                        </label>
                    </div>
                      <i  class="fa-solid fa-trash-can"></i>
                </div>
                  <h4 class="m-5">Shopping Cart(5)</h4>
            </div>
            <div class="cart-list block-style">
                <div class="cart-item d-flex align-items-center">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    </div>
                    <div class="image-container">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIibPbOeDQQscm9g-fDNdCvROokQJukg8nYQ&s" alt="">
                    </div>
                    <div class="detail">
                        <div class="title-container d-flex justify-content-between">
                            <h6>Car Rear Trunk Letters Logo Badge Emblem Decals Styling Sticker For</h6>
                            <i  class="fa-solid fa-trash-can borderless"></i>

                        </div>
                        <div class="variation">
                            
                        </div>
                        <div class="price">

                        </div>

                    </div>
                    
                </div>
            </div>

        </div>
        <div class="summery-container col-4">
            <div class="summery block-style">

            </div>

        </div>

    </div>

</div>
