
<div class="body d-flex">
    <div class="nav-bar">
        <div class="nav-element">
            <button type="button" class="btn btn-manage-product"><h5>Manage Product</h5></button>
        </div>
        <div class="nav-element">
            <button class="btn btn-add-product"><h5>Add Product</h5></button>
        </div>
        <div class="nav-element">
            <button class="btn btn-manage-category"><h5>Manage Category</h5></button>
        </div>
        <div class="nav-element">
            <button class="btn btn-manage-brand"><h5>Manage Brand</h5></button>
        </div>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>