<div class="container-admin">
    <div class="nav-admin">
        <div class="nav-admin-container">
            <div #navadditem class="nav-elm navadditem">
                <button class="btn btn-additem" (click)="onAddItem()"><h5>ADD ITEM</h5></button>   
            </div>
            <div  #navedititem class="nav-elm navedititem" >
                <button class="btn btn-edititem" (click)="onEditItem()"><h5>ADD ITEM</h5></button>   
            </div>
            <div #navaddstock  class="nav-elm navaddstock">
                <button class="btn btn-addstock" (click)="onAddStock()"><h5>ADD ITEM</h5></button>   
            </div>
        
        </div>
    </div>
    <div class="nav-content">
            <div #additem class="additem cont-elm" >
                <app-add-item></app-add-item>
            </div>
            <div #edititem class="edititem cont-elm" >
                <p>edititem</p>
            </div>
            <div #addstock class="addstock cont-elm" >
                <p>addstock</p>
            </div>
    </div>
</div>
