
<!-- <head >
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head> -->

<div class="body">
  <header>
    <div class="container">
      <div class="logo">
        <img
          src="https://img.freepik.com/free-vector/bird-colorful-logo-gradient-vector_343694-1365.jpg?w=826&t=st=1718172286~exp=1718172886~hmac=d9f5030398fe1fbb271bf4e2ca8a8f3ce72b0ee1e8068773ec1f231dcdab405a"
          alt="GearUp Logo">
      </div>
      <div class="search-bar">
        <input type="text" placeholder="Search for products...">
        <button class="search-but"><i class="fas fa-search"></i></button>
      </div>
      <div class="icons">
        <a href="#" class="cart"><i class="fas fa-shopping-cart"></i></a>
        <a href="#" class="login"><i class="fas fa-user"></i><span> Login</span></a>
      </div>
    </div>
  </header>
  <div class="navbar d-flex">
    <div class="navbar-container">
      <div class="category">
        <div class="navbar-element">
          <h6>Category</h6>
          <i class="fa fa-bars" aria-hidden="true"></i>
        </div>
        <div class="drop-parent d-flex">
          <div class="drop-category">
            <div *ngFor="let cate of categoryList">
              <div class="parent-category d-flex" *ngIf="cate.parentCategoryId === 0" (mouseover)="onMouseEnter($event , cate.categoryId)">
                <option  [value]="cate.categoryId">{{cate.categoryName}}</option>
                <i class="fa fa-angle-right" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <div class="child-category">
            <div class="child-element" *ngFor="let cate of subCategoryList">
              <option [value]="cate.categoryId">{{cate.categoryName}}</option>
            </div>
          </div>
        </div>
          
          
          
      </div>

      <div class="navbar-element">
        <h6>Home</h6>
      </div>
      <div class="navbar-element">
        <h6>Product</h6>
      </div>
      <div class="navbar-element">
        <h6>About</h6>
      </div>
      <div class="navbar-element">
        <h6>Wishlist</h6>
      </div>
    </div>
    
  </div>

</div>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>

