

.cart-page{
    padding-top: 20px;
    width: 100vw;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #f2f2f2;
}
.cart-body{
    width: 1200px;
    height: 500px;
    margin: 0px 20px;

}
.block-style{
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0,0,0,.06);
}
.summery{
    
    margin: 10px 5px;
    height: 400px;
    
}
.cart-head{
    margin: 10px 5px;
    height: 60px;
    align-items: center;
    
}
.cart-list{
    margin: 10px 5px;
    height: 300px;
}
.fa-trash-can{
    border-left: 2px solid rgba(202, 200, 200, 0.795);
    padding: 5px 10px;
    
}
.borderless{
    border: none;
}
.fa-trash-can:hover{
    color: red;
}
.form-check{
    margin: 0px 15px;
}
