
<div class="cart-page">
    <div class="cart-body row">
        <div class="cart-container d-flex flex-column col-8">
            <div class="cart-head block-style d-flex justify-content-between">
                <div class="d-flex">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                          Select All
                        </label>
                    </div>
                      <i  class="fa-solid fa-trash-can"></i>
                </div>
                  <h4 class="m-5">Shopping Cart(5)</h4>
            </div>
            <div class="cart-list block-style">
                <div *ngFor="let cart of cartList">
                    <app-cart-item [cart]="cart"></app-cart-item>
                </div>
                
            </div>

        </div>
        <div class="summery-container col-4">
            <div class="summery block-style">

            </div>

        </div>

    </div>

</div>
